/*stili per il layout fisso*/
html,body{margin: 0;padding:0}
body{font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif; font-size: 14px;color: #000;text-align:center}

div#container{width: 1152px;margin: 20px auto ;text-align: left; background:#fff;border:1px solid #bbb}

h1,h2{margin: 0;padding:0}
h1{padding-left:0.5em;font: bold 2.3em/80px arial,serif;color: #000;}
h2{color: #000;font-size: 1.5em}
h3{color: #000;font-size: 1.2em}
a{text-decoration: none;}

img{margin: 0 auto;display:block;width:95%}
/*stili generici, su header e footer*/
div#header{width: 1152px;margin: 0px auto; color: #000;height: 185px; /*border: 1px solid black;*/}

/*stili specifici per il layout*/
div#extra{float:left;width: 200px; height: 450px; border-top:1px solid #ccc; border-right:1px solid #ccc; margin: 0px; padding: 0px; background:#eee; /*border: 1px solid black; */}

#on{  color: #fff;    background:#bbb;-moz-border-radius: 10px;-webkit-border-radius: 10px;border-radius: 10px ;}

div#content{position:relative;float:left;width:1152px;margin:0px; padding:0px;font : 12px Verdana, Arial, Helvetica, sans-serif;}
div#content_right{float:left; width:939px; padding:5px;margin:10; /*border: 1px solid black;*/}

div#footer{clear:both; text-align:center; padding: 0.5em; background:#eee; color: #000;border-top:1px solid #666 !important;}
div#footer li{display:inline; list-style-type:none;padding:0 10px}
.space {clear : both; margin: 0px}
.blank {height: 20px;}

/* shadow */
.shadow {-moz-box-shadow: 0 0 10px 1px #CCC; -webkit-box-shadow: 0 0 10px 1px #CCC;box-shadow: 0 0 10px 1px #CCC;}

/*CSS principale per il menu*/
.logo {position:relative;float:left; background-image: url(../images/logo_DierreConsulting.bmp); background-repeat: no-repeat; width: 1152px; height: 100px;}
.logo img{text-align:center;margin: 0 auto;}
#nav {position:relative;text-align:right;background:#eee;color: #000;border-top:1px solid #ccc !important;border-bottom:1px solid #ccc !important;height:40px; padding:0px; margin: 0px;}
.menu ul{margin: 0;    float: right}
.menu ul li{display: inline;}
.menu ul li a{float: left; text-decoration: none; color: #a1a1a1; padding: 10.5px 11px; height:18px; -moz-border-radius: 10px;-webkit-border-radius: 10px; behavior: url(css/PIE.htc); border-radius: 10px;}
.menu ul li a:hover, .menu ul li .current{    color: #fff;    background:#a1a1a1;}

.creaCvVoci{visible:hidden;display: none;}

.accordion {float:left;	list-style:none;	margin:0px;padding:0 0 0 10px;text-align:left!important;	background:#eee;-moz-border-radius: 20px;-webkit-border-radius: 20px;border-radius: 20px ; }
.accordion li {	cursor:pointer;	padding:0;	color:#000;vertical-align:middle;list-style-type:none;	}
.accordion ul {	list-style-type:none;	display:none;	margin:0;	padding:5px 0;	}
.accordion ul>li {	background:none;padding-left:5px;	border:0; color:#000	}
.accordion li, a {	text-decoration:none;	 font:normal 12px verdana, arial, sans-serif; color:#666;}
.accordion ul>li a:hover {	color:#000;	}


img.help{text-align:left; float:left;width:16px ; height:16px; border:none;}
img.help:hover{cursor:pointer}

/*-------------------------------------- Menu Login ----------------------------------------- */

.login{border-right: 1px solid #000;}

#login{margin: 0px; padding: 0px; width: 1152px; height: 20px; }

#nav img{padding: 0 0 0 5px;}

ul#nav div.mega{position: absolute; top: -9999px; width: 80px; padding: 0.7em; border: 1px solid #a1a1a1; background: #FFF; overflow:hidden; line-height:1.5}

ul#nav li:hover div.mega,ul#nav li div.mega.open{top: 20px;z-index: 100; left: 23px;}

ul#nav,ul#nav li,ul#nav ul{margin: 0px;padding: 0px;list-style:none;}

ul#nav{width:250px; height:20px; background: #FFF; float: right; /*border: 1px solid black;*/}
ul#nav a{text-decoration:none;}
ul#nav h2{font-size:110%; margin:0;}
ul#nav h2 a{line-height:20px;padding: 0 20px;color:#a1a1a1 }
ul#nav>li:hover,ul#nav h2 a:hover{background: #ebebeb}
ul#nav li{position: relative; float: right;}

ul#nav ul li a{background: #ebebeb;}

ul#nav li li{float: none;display: block !important;display: inline; IE6}

/*regole aggiuntive per i link dei sottomenu*/

ul#nav div.mega li a{padding:0 7px;color: #a1a1a1;
    background: #FFF url(bullet.png) no-repeat left center; margin: 0px}
ul#nav div.mega li a:hover{color: #0B4295;text-decoration:underline;}

#benvenuto{float:right; color: bbb; margin: 0px; padding: 5px 11px;}
#scrittaBenvenuto {color: 000;}

#link {float: right; margin-bottom: 20px;}
#link ul li{display: inline; padding: 5px;}

/* gestione dei giorni lavorativi nella sezione Time Report */

.report{float: left;}
.reportdestro{float: right;}
.giorniLavorativi{background: #FFF; border: none;}
.giorniFestivi{background: #d8d8d8; padding: 3px 0px;}
#visualizzaReport{width: 880px;}

.spazio{margin-top: 70px;}

/* calendario */
#calendar { width: 800px; margin: 0 auto; }

/*inizio gestione curriculum */

.sceltaCurriculum{ text-align: right; padding-right: 15px;}
#toolbar{ text-align: right; padding-right: 5px;  /*border:1px solid black;*/}
#toolbar a {padding: 0 5px 0 5px; border-right: 1px solid black;}
.spazioUltra{margin: 40px 0px;}

#channel{ font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif; font-size: 12px; margin: 45px;width: 900px; text-align: center; border-collapse: collapse; margin: auto; }
#channel th{ font-size: 13px; font-weight: normal; padding: 8px; background: #c9ba9d /*#b9c9fe url(../images/gradhead.png) repeat-x*/; border-top: 2px solid #d3ddff; border-bottom: 1px solid #fff; color: #FFF /*#039*/; }
#channel td{ padding: 8px;  border-bottom: 1px solid #fff; color: #669; border-top: 1px solid #fff; background: #CCC /*#e8edff url(../images/gradback.png) repeat-x*/; }
#channel tfoot tr td{ background: #e8edff; font-size: 12px; color: #99c; }
#channel tbody tr:hover td{ background: background: #a5a6a8 /*#d0dafd url(../images/gradhover.png) repeat-x*/; color: #339; }

/* gestione contenuti delle pagine principali */
.contenuti {width: 800px; margin: 0px 70px; height: 80px; border: 1px solid #CCC; margin-bottom: 40px;}
.titoloContenuti {font : bold 12px Verdana, Arial, Helvetica, sans-serif; padding: 5px; text-align : center; background: #CCC; border-bottom:1px solid #bbb}
.immagini{ float: left;  width: 35px; height:35px; margin: 3px 20px;}
.immagini_riabilitazione{ float: left;  width: 70px; height:35px; margin: 5px 20px 0px 10px; }

/* esporta Pdf */
#finestra, #formato, #modulo{display: none; }

#finestra{text-align: left; }

#finestra label,#finestra textarea,#finestra input,#finestra button{ font-size: 12px; }

#finestraMenuLaterale{display: none; }

#finestraMenuLaterale{text-align: left; }

#finestraMenuLaterale label,#finestraMenuLaterale textarea,#finestraMenuLaterale input,#finestraMenuLaterale button{ font-size: 12px; }


#modulo textarea{ resize: none; }

/* end esporta pdf */

/* anteprima curriculum vitae */

#anteprimaCV{ display: none; text-align: left; }

#anteprimaCV label,#anteprimaCV textarea,#anteprimaCV input,#anteprimaCV button{ font-size: 12px; }

#anteprimaMenuLaterale{ display: none; text-align: left; }

#anteprimaMenuLaterale label,#anteprimaMenuLaterale textarea,#anteprimaMenuLaterale input,#anteprimaMenuLaterale button{ font-size: 12px; }


.intestazioneCurriculum{ font-size:15px; letter-spacing: 4px; margin:0; padding:0; }

.intestazioniCurriculum{ font-size:13px; letter-spacing: 0px; margin:0; padding:0; }

.contenitoreIntestazione{ margin: 0px; padding: 0px; border-bottom: 3px solid black; }

.contenutiCurriculum{ font-size: 12px; }

.spazioSinistro{ width: 250px; border: 0px solid black;}

.spazioCentro{ width: 175; border: 0px solid black;}

.spazioDestro{ width: 175; border: 0px solid black;}

.context textarea, .context table, .context span{ margin: 0px; padding: 0px; font-size: 13px; }

.context table p{margin: 0px; padding: 0px; }

.context textarea{ resize: none; border: 0px solid black; }

/* end anteprima */

#sceltaCommesse{ display: none; }
#FormScelteCommesse label{font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif; font-size: 14px;}
#FormScelteCommesse button{border: 1px solid #CCC; padding: 5px; background: #CCC; margin-right: 2px;}
#FormScelteCommesse button:hover{background: #eee; }

