<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/'>

	<appender name="dipendenteAppender" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="/nfs_home/drcon860/public_html/Dipendente/WebContent/WEB-INF/logs/dipendente.log"/>
		<!--  <param name="File" value="C:/Users/Utente/Desktop/Progetti Java/dierreconsulting/Dipendente/WebContent/WEB-INF/logs/dipendente.log"/>  -->
		<param name="Append" value="true"/>
		<param name="MaxFileSize" value="1MB"/>
		<param name="MaxBackupIndex" value="10"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%d{ISO8601}][%-5p][%t][%c]%m%n" />
		</layout>
	</appender>

	<appender name="SmtpAppender" class="org.apache.log4j.net.SMTPAppender">
		<param name="SMTPProtocol" value="smtps"/>
		<param name="SMTPPort" value="465"/>
		<param name="SMTPHost" value="smtp.gmail.com"/>
		<param name="SMTPUsername" value="logwebapp@gmail.com"/>
		<param name="SMTPPassword" value="2013Dr2013"/>
		<param name="From" value="logwebapp@gmail.com"/>
		<param name="To" value="gabriele.bertaina+webappdipendente@gmail.com,emmanuel.devita+webappdipendente@gmail.com"/>
		<param name="Cc" value="roberto.camarca+webappdipendente@gmail.com,davicam21+webappdipendente@gmail.com"/>
		<param name="Subject" value="Log Web Application Dipendente"/>
		<param name="BufferSize" value="5"/>
		<param name="EvaluatorClass" value="it.util.log.TriggerLogEvent"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
			value="[%d{ISO8601}][%-5p][%t][%c]%m%n" />
		</layout>
	</appender>
	
	<root>
		<level value="debug"/>
		<!-- <appender-ref ref="SmtpAppender"/>  -->
		<appender-ref ref="dipendenteAppender"/>
	</root>
	
</log4j:configuration>